@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";


.ibm-plex-sans {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@theme {
  --color-brand: #E23A26;
  --color-brand-dark: #B92B1A;
  --font-display: "Abhaya Libre", "Playfair Display", "Georgia", serif;
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
  --font-ibm: "IBM Plex Sans", sans-serif;
}

@layer base {

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    margin: 0;
    background-color: #000;
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
  }
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility filter-gold {
  filter: brightness(0) saturate(100%) invert(82%) sepia(21%) saturate(1212%) hue-rotate(344deg) brightness(96%) contrast(93%);
}

@utility filter-gold-hover {
  &:hover {
    filter: brightness(0) saturate(100%) invert(82%) sepia(21%) saturate(1212%) hue-rotate(344deg) brightness(96%) contrast(93%);
  }
}







@keyframes zoomBackToFront {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-zoom-back-to-front {
  animation: zoomBackToFront 3s cubic-bezier(0.16, 1, 0.5, 1) forwards;
  transform-origin: center center;
}

/* @keyframes blueprintUnfold {
  0% {
    opacity: 0;
    transform: scale(2, 0.6);
  }
  60% {
    opacity: 1;
    transform: scale(1.02, 1.01);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.animate-blueprint-unfold {
  animation: blueprintUnfold 3s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  transform-origin: center center;
} */

@keyframes zoomPulseSettle {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  60% {
    opacity: 1;
    transform: scale(1.18); /* Peak zoom-in */
  }
  85% {
    transform: scale(1); /* Zoom-out rebound */
  }
  100% {
    opacity: 1;
    transform: scale(1); /* Final resting state */
  }
}

.animate-blueprint-unfold  {
  animation: zoomPulseSettle 4s cubic-bezier(0.25, 1, 0.9, 1) forwards;
  transform-origin: center center;
}

/* Sleek Dark Custom Scrollbar for Dropdowns */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.02);
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(231, 33, 0, 0.4);
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.02);
}